<!doctype html>
<html>
  <head>
    <title>Barista Profile</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
<body>
  <section class="container">
    <div class="page-header text-center">
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
    <!-- barista Profile -->
    <div class="well">
      <h1>Orders in Progress</h1>
      <% for(var i = 0; i < order.length; i++) { %>
        <span><%= orders[i].orderName %></span>
        <span><%= orders[i].orderItem %></span>
        <!-- add checkbox for completion -->
        <% } %>
        <div class="orders">
          <% for(var i = 0; i < order.length; i++) { %>
            <span><%= orders[i].orderName %></span>
            <span><%= orders[i].orderItem %></span>
            <span><%= orders[i].baristaName %></span>
            <% } %>
            <!-- add timestamp with moment pkg -->
            <!-- completed field(marks if order is completed which moves it into Completed display) is part of the collection, but excluded from display -->
      </div> <!-- orders -->
    </div> <!-- well -->
  </section><!-- container -->
  <script src="main.js"></script>
</body>
</html>
