<!doctype html>
<html>
  <head>
    <title>Barista Profile</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
<body>
  <section class="container">
    <div class="page-header text-center">
      <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
    <!-- barista Profile -->
    <div class="well">
      <h1>Orders in Progress</h1>

      <ul>
        <% for(var i = 0; i < orders.length; i++) { %>
          <li><span><%= orders[i].orderName %></span>
          <span ><%= orders[i].orderItem %></span>
          <button data-order="<%= orders[i].orderItem %>" data-name="<%= orders[i].orderName %>" class="complete" type="button" name="button">Complete</button>
        </li>
          <!-- add checkbox for completion -->
          <% } %>
          <h1>Completed Orders</h1>
          <div class="orders">
            <% for(var j = 0; j < orders.length; j++) { %>

            <li> <span><%= orders[j].orderName %></span>
              <span><%= orders[j].orderItem %></span>
              <span><%= orders[j].baristaName %></span>
              <% } %>
              </li>
      </ul>

            <!-- add timestamp with moment pkg -->
            <!-- completed field(marks if order is completed which moves it into Completed display) is part of the collection, but excluded from display -->
      </div> <!-- orders -->
    </div> <!-- well -->
  </section><!-- container -->
  <script src="main.js"></script>
</body>
</html>
